# Filtrar numeros pares de una lista

In [3]:
lst = []

for num in range(1, 21):
    if num >= 1:
        lst.append(num)

In [8]:
print (lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [6]:
lst_pares = []

for num in range(1, 21):
    if num % 2 == 0:
        lst_pares.append(num)

In [7]:
print (lst_pares)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# Contar ocurrencia en un diccionario

In [9]:
cocina = ["cuchara", "tenedor", "cuchillo", "cafetera", "refrigerador", "licuadora"]

In [12]:
cont = 1

diccionario = {}

for i in cocina:
    if i:
        diccionario[i] = cont
        cont += 1

In [13]:
print (diccionario)

{'cuchara': 1, 'tenedor': 2, 'cuchillo': 3, 'cafetera': 4, 'refrigerador': 5, 'licuadora': 6}