# Proyecto

In [ ]:
from google.colab import drive
import pandas as pd
import numpy as np
import os

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/MyDrive/Clase4/'
list_files = os.listdir(path)
list_files

['netflix1.csv', 'super_dirty_cafe_sales.csv']

In [ ]:
df = pd.read_csv(os.path.join(path, "super_dirty_cafe_sales.csv"))
df

,Unnamed: 0,Transaction ID,Quantity,Price Per Unit,Total Spent,Transaction Date,Item,Payment Method,Location
0,0,TXN_1961373,2,2.0,4.0,2023-09-08,Coffe,Credit Card,NaN
1,1,TXN_4977031,4,3.0,12.0,2023-05-16,CAKE,Creit Card,In-store
2,2,TXN_4271903,4,1.0,ERROR,2023-07-19,Cookie,UNKNOWN,In-store
3,3,TXN_7034554,2,5.0,10.0,2023-04-27,Salad,UNKNOWN,In-storee
4,4,TXN_3160411,2,2.0,4.0,2023-06-11,Coffee,NaN,In-store
...,...,...,...,...,...,...,...,...,...
9995,9995,TXN_7672686,2,2.0,4.0,2023-08-30,Coffee,Cashh,NaN
9996,9996,TXN_9659401,3,NaN,3.0,2023-06-02,NaN,Digital Wallet,Takeawayy
9997,9997,TXN_5255387,4,2.0,8.0,2023-03-02,Coffee,NaN,In-storee
9998,9998,TXN_7695629,3,NaN,3.0,2023-12-02,Cooky,Digital Wallet,NaN
9999,9999,TXN_6170729,3,4.0,12.0,2023-11-07,Sandwich,Cash,In-store

## Renombra las columnas para que sean más fáciles de manejar. Sustituye los espacios
en blanco por ‘_’, además de pasar todo a mayúsculas.

In [ ]:
df.columns = df.columns.str.replace(" ", "_").str.upper()

In [ ]:
df

,UNNAMED:_0,TRANSACTION_ID,QUANTITY,PRICE_PER_UNIT,TOTAL_SPENT,TRANSACTION_DATE,ITEM,PAYMENT_METHOD,LOCATION
0,0,TXN_1961373,2,2.0,4.0,2023-09-08,Coffe,Credit Card,NaN
1,1,TXN_4977031,4,3.0,12.0,2023-05-16,CAKE,Creit Card,In-store
2,2,TXN_4271903,4,1.0,None,2023-07-19,Cookie,None,In-store
3,3,TXN_7034554,2,5.0,10.0,2023-04-27,Salad,None,In-storee
4,4,TXN_3160411,2,2.0,4.0,2023-06-11,Coffee,NaN,In-store
...,...,...,...,...,...,...,...,...,...
9995,9995,TXN_7672686,2,2.0,4.0,2023-08-30,Coffee,Cashh,NaN
9996,9996,TXN_9659401,3,NaN,3.0,2023-06-02,NaN,Digital Wallet,Takeawayy
9997,9997,TXN_5255387,4,2.0,8.0,2023-03-02,Coffee,NaN,In-storee
9998,9998,TXN_7695629,3,NaN,3.0,2023-12-02,Cooky,Digital Wallet,NaN
9999,9999,TXN_6170729,3,4.0,12.0,2023-11-07,Sandwich,Cash,In-store

## Muestra los valores faltantes de cada una de las columnas.

In [ ]:
valores_faltantes = df.isnull().sum()

In [ ]:
valores_faltantes

UNNAMED:_0             0
TRANSACTION_ID         0
QUANTITY             138
PRICE_PER_UNIT       179
TOTAL_SPENT          173
TRANSACTION_DATE     159
ITEM                 333
PAYMENT_METHOD      2658
LOCATION            3043
dtype: int64

## Muestra el tipo de dato de cada columna.

In [ ]:
df.dtypes

UNNAMED:_0           int64
TRANSACTION_ID      object
QUANTITY            object
PRICE_PER_UNIT      object
TOTAL_SPENT         object
TRANSACTION_DATE    object
ITEM                object
PAYMENT_METHOD      object
LOCATION            object
dtype: object

## Muestra de las columnas categóricas, cuales son los valores únicos.

In [ ]:
categoricas_col = df.select_dtypes(include=['object']).columns

In [ ]:
for col in categoricas_col:
    print(f"Valores únicos en {col}:")
    print(df[col].value_counts(dropna=False))  # Incluye NaN en el conteo
    print("-" * 40)

Valores únicos en TRANSACTION_ID:
TRANSACTION_ID
TXN_1961373    1
TXN_4831525    1
TXN_1228927    1
TXN_6486912    1
TXN_3447069    1
              ..
TXN_5680238    1
TXN_7766134    1
TXN_2617257    1
TXN_8993132    1
TXN_6170729    1
Name: count, Length: 10000, dtype: int64
----------------------------------------
Valores únicos en QUANTITY:
QUANTITY
5          2013
2          1974
4          1863
3          1849
1          1822
UNKNOWN     171
ERROR       170
NaN         138
Name: count, dtype: int64
----------------------------------------
Valores únicos en PRICE_PER_UNIT:
PRICE_PER_UNIT
3.0        2429
4.0        2331
2.0        1227
5.0        1204
1.0        1143
1.5        1133
ERROR       190
NaN         179
UNKNOWN     164
Name: count, dtype: int64
----------------------------------------
Valores únicos en TOTAL_SPENT:
TOTAL_SPENT
6.0        979
12.0       939
3.0        930
4.0        923
20.0       746
15.0       734
8.0        677
10.0       524
2.0        497
9.0        479
5.0        468
16.0       444
25.0       259
7.5        237
1.0        232
4.5        225
1.5        205
NaN        173
UNKNOWN    165
ERROR      164
Name: count, dtype: int64
----------------------------------------
Valores únicos en TRANSACTION_DATE:
TRANSACTION_DATE
UNKNOWN       159
NaN           159
ERROR         142
2023-06-16     40
2023-02-06     40
             ...
2023-04-27     15
2023-09-24     15
2023-07-22     14
2023-03-11     14
2023-02-17     14
Name: count, Length: 368, dtype: int64
----------------------------------------
Valores únicos en ITEM:
ITEM
Juice          1171
Sandwich       1131
Smoothie       1096
Tea            1089
Coffee          808
Salad           806
Cake            801
Cookie          784
UNKNOWN         344
NaN             333
ERROR           292
 Salad          113
Cooky            83
Cookei           79
Cokkies          78
Co0kie           68
Green Salad      62
Sallad           57
cafe             56
Ensalada         56
Coffe            56
Cpfee            55
Sal@d            54
COFFEE           52
CAKE             52
 cAKE            51
Kake             49
C@ke             48
 COFFEE          48
Pastelillos      48
Cak              46
Cofee            45
COFFE            45
Pastel           44
Name: count, dtype: int64
----------------------------------------
Valores únicos en PAYMENT_METHOD:
PAYMENT_METHOD
NaN               2658
Cash              1459
Digital Wallet    1454
Credit Card       1444
UNKNOWN            799
Creit Card         723
Cashh              643
DigitalWallt       640
ERROR              180
Name: count, dtype: int64
----------------------------------------
Valores únicos en LOCATION:
LOCATION
NaN          3043
In-store     1901
Takeaway     1862
In-storee     710
Takeawayy     693
T@keaway      680
Instore       680
ERROR         224
UNKNOWN       207
Name: count, dtype: int64
----------------------------------------

In [ ]:
df.replace(["UNKNOWN", "ERROR"], None, inplace=True)

## Homogeniza los valores de la columna ITEM, para que solo queden: [‘Coffee
## ‘Cake’, ‘Cookie’, ‘Salad’, ‘Smoothie’, ‘Sandwich’, ‘Juice’, ‘Tea’, None]`

In [31]:
valores_permitidos = ['Coffee', 'Cake', 'Cookie', 'Salad', 'Smoothie', 'Sandwich', 'Juice', 'Tea']

In [32]:
df['ITEM'] = df['ITEM'].apply(lambda x: x if x in valores_permitidos else None)

In [33]:
df['ITEM'].unique()

array([None, 'Cookie', 'Salad', 'Coffee', 'Smoothie', 'Sandwich', 'Juice',
       'Cake', 'Tea'], dtype=object)

## Homogeniza los valores de la columna PAYMENT_METHOD , para que solo queden:
## ['Credit Card', 'Cash', 'Digital Wallet', None]

In [34]:
valores_permitidos_pago = ['Credit Card', 'Cash', 'Digital Wallet']

In [35]:
df['PAYMENT_METHOD'] = df['PAYMENT_METHOD'].apply(lambda x: x if x in valores_permitidos_pago else None)

In [36]:
df['PAYMENT_METHOD'].unique()

array(['Credit Card', None, 'Cash', 'Digital Wallet'], dtype=object)

## Homogeniza los valores de la columna LOCATION , para que solo queden:
## ['Takeaway', 'In-store',None]

In [37]:
valores_permitidos_ubicacion = ['Takeaway', 'In-store']

In [38]:
df['LOCATION'] = df['LOCATION'].apply(lambda x: x if x in valores_permitidos_ubicacion else None)

In [39]:
df['LOCATION'].unique()

array([None, 'In-store', 'Takeaway'], dtype=object)

## Convierte columnas a tipos de datos apropiados, como int , float , o datetime ,
## tomando en cuenta el manejo de errores.

In [40]:
df['TOTAL_SPENT'] = pd.to_numeric(df['TOTAL_SPENT'], errors='coerce')

In [41]:
df['QUANTITY'] = pd.to_numeric(df['QUANTITY'], errors='coerce')

In [42]:
df['TRANSACTION_DATE'] = pd.to_datetime(df['TRANSACTION_DATE'], errors='coerce')

In [43]:
df.dtypes

UNNAMED:_0                   int64
TRANSACTION_ID              object
QUANTITY                   float64
PRICE_PER_UNIT              object
TOTAL_SPENT                float64
TRANSACTION_DATE    datetime64[ns]
ITEM                        object
PAYMENT_METHOD              object
LOCATION                    object
dtype: object

In [45]:
df

,UNNAMED:_0,TRANSACTION_ID,QUANTITY,PRICE_PER_UNIT,TOTAL_SPENT,TRANSACTION_DATE,ITEM,PAYMENT_METHOD,LOCATION
0,0,TXN_1961373,2.0,2.0,4.0,2023-09-08,None,Credit Card,None
1,1,TXN_4977031,4.0,3.0,12.0,2023-05-16,None,None,In-store
2,2,TXN_4271903,4.0,1.0,NaN,2023-07-19,Cookie,None,In-store
3,3,TXN_7034554,2.0,5.0,10.0,2023-04-27,Salad,None,None
4,4,TXN_3160411,2.0,2.0,4.0,2023-06-11,Coffee,None,In-store
...,...,...,...,...,...,...,...,...,...
9995,9995,TXN_7672686,2.0,2.0,4.0,2023-08-30,Coffee,None,None
9996,9996,TXN_9659401,3.0,NaN,3.0,2023-06-02,None,Digital Wallet,None
9997,9997,TXN_5255387,4.0,2.0,8.0,2023-03-02,Coffee,None,None
9998,9998,TXN_7695629,3.0,NaN,3.0,2023-12-02,None,Digital Wallet,None
9999,9999,TXN_6170729,3.0,4.0,12.0,2023-11-07,Sandwich,Cash,In-store

## Calcula las ventas totales por año utilizando groupby .

In [49]:
df['YEAR'] = df['TRANSACTION_DATE'].dt.year

In [52]:
df['YEAR'].unique()

array([2023.,   nan])

In [50]:
ventas_totales = df.groupby('YEAR')['TOTAL_SPENT'].sum()

In [48]:
ventas_totales

YEAR
2023.0    80800.5
Name: TOTAL_SPENT, dtype: float64

## ¿Cuáles son los meses con mayor venta?

In [53]:
df['YEAR_MONTH'] = df['TRANSACTION_DATE'].dt.to_period('M')

In [54]:
ventas_por_mes = df.groupby('YEAR_MONTH')['TOTAL_SPENT'].sum()

In [55]:
ventas_por_mes = ventas_por_mes.sort_values(ascending=False)

In [56]:
ventas_por_mes

YEAR_MONTH
2023-06    7071.5
2023-10    7040.5
2023-08    6904.0
2023-01    6845.0
2023-03    6822.0
2023-12    6801.0
2023-04    6730.5
2023-05    6674.0
2023-07    6574.0
2023-11    6532.5
2023-09    6501.5
2023-02    6304.0
Freq: M, Name: TOTAL_SPENT, dtype: float64

## ¿Cuál es el promedio que gastan las personas por transacción?

In [57]:
promedio_gasto = df['TOTAL_SPENT'].mean()

In [58]:
promedio_gasto

8.924352495262161

## Identifica los productos más vendido

In [59]:
productos_mas_vendidos = df.groupby('ITEM')['QUANTITY'].sum().sort_values(ascending=False)

In [60]:
productos_mas_vendidos

ITEM
Juice       3373.0
Sandwich    3245.0
Smoothie    3221.0
Tea         3154.0
Cake        2357.0
Salad       2315.0
Coffee      2301.0
Cookie      2192.0
Name: QUANTITY, dtype: float64

## De los 3 productos más vendidos, ¿Cuál es el más vendido por mes ?

In [61]:
df['MONTH'] = df['TRANSACTION_DATE'].dt.month

In [62]:
top_3_productos = df.groupby('ITEM')['QUANTITY'].sum().nlargest(3).index

In [63]:
df_top = df[df['ITEM'].isin(top_3_productos)]

In [64]:
ventas_por_mes = df_top.groupby(['MONTH', 'ITEM'])['QUANTITY'].sum().reset_index()

In [65]:
producto_mas_vendido_por_mes = ventas_por_mes.loc[ventas_por_mes.groupby('MONTH')['QUANTITY'].idxmax()]

In [66]:
producto_mas_vendido_por_mes

    MONTH      ITEM  QUANTITY
1     1.0  Sandwich     318.0
3     2.0     Juice     272.0
6     3.0     Juice     296.0
9     4.0     Juice     294.0
13    5.0  Sandwich     275.0
15    6.0     Juice     280.0
19    7.0  Sandwich     260.0
22    8.0  Sandwich     249.0
26    9.0  Smoothie     292.0
27   10.0     Juice     283.0
32   11.0  Smoothie     276.0
33   12.0     Juice     299.0

## Detecta el método de pago más popular.

In [70]:
df['PAYMENT_METHOD'].unique()

array(['Credit Card', None, 'Cash', 'Digital Wallet'], dtype=object)

In [71]:
transacciones_por_metodo = df['PAYMENT_METHOD'].value_counts()

In [72]:
transacciones_por_metodo

PAYMENT_METHOD
Cash              1459
Digital Wallet    1454
Credit Card       1444
Name: count, dtype: int64

## Compara entre las ubicaciones para determinar cuál genera más ingresos.

In [75]:
ingresos_por_ubicacion = df.groupby('LOCATION')['TOTAL_SPENT'].sum()

In [76]:
df['LOCATION'].unique()

array([None, 'In-store', 'Takeaway'], dtype=object)

In [77]:
ingresos_por_ubicacion

LOCATION
In-store    16298.0
Takeaway    15857.5
Name: TOTAL_SPENT, dtype: float64

## Genera un data frame distinto para cada uno de los análisis siguientes.
## Ventas totales por año.
## Los 5 productos más vendidos.
## El método de pago más utilizado.

In [78]:
Ventas_totales = df.groupby(df['TRANSACTION_DATE'].dt.year)['TOTAL_SPENT'].sum().reset_index()

In [79]:
ventas_totales

YEAR
2023.0    80800.5
Name: TOTAL_SPENT, dtype: float64

In [80]:
productos_mas_vendidos = df['ITEM'].value_counts().head(5).reset_index()

In [81]:
productos_mas_vendidos

       ITEM  count
0     Juice   1171
1  Sandwich   1131
2  Smoothie   1096
3       Tea   1089
4    Coffee    808

In [82]:
metodo_pago = df['PAYMENT_METHOD'].value_counts().reset_index()

In [83]:
metodo_pago

   PAYMENT_METHOD  count
0            Cash   1459
1  Digital Wallet   1454
2     Credit Card   1444

In [104]:
import os

def guardar_dataframe(df, ventas_totales, csv):
    pass